/************ ************ ************ ************
************ Genral and Layouts ************
************ ************ ************ ************/

:root {
  --main-color: #1b1b1b;
  --secondry-color: #aaa;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05em;
  color: var(--main-color);
  background-color: #fcfcfc;
  /* position: relative; */
  /* overflow-x: hidden; */
}

#page-container {
  position: relative;
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  padding: 35px 20px;
}

#content-wrap {
  /* Footer height */
  /* padding-bottom: 2.5rem; */
  padding-bottom: 10px;
}

#Profile_Picture,
#home-image,
#logo {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  margin-bottom: 20px;
  font-weight: 300;
}
/************ Mobile Nav Bar ************/

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  padding: 6px 10px;
  z-index: 800;
}
/* dismiss toggle */
.second-menu {
  display: none;
  z-index: 900;
}

#line_logo {
  width: 200px;
  float: left;
}

.hamburger img {
  padding: 15px 7px 10px 7px;
  position: absolute;
  right: 0;
  z-index: 900;
}
/************ links animation/effects ************/

.mobile-menu a:visited,
.mobile-menu a:link,
.mobile-menu a:active {
  color: #eee;
}
.mobile-menu a:hover {
  color: var(--secondry-color);
  -webkit-transition: all ease 150ms;
  transition: all ease 150ms;
}

a:link,
a:visited {
  color: var(--main-color);
}

a:hover,
a:active {
  color: var(--secondry-color);
  -webkit-transition: all ease 150ms;
  transition: all ease 150ms;
}
#social_media li:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

/************ Social Media ************/

#social_media {
  position: fixed;
  bottom: 30px;
}

#social_media li {
  display: inline-block;
  margin-right: 5px;
  padding: 2px;
  font-size: 150%;
}

/************ LEFT side = MENU ************/

.left_home {
  display: grid;
  grid-template-rows: 150px auto;
  grid-gap: 90px;
  width: 240px;
  position: fixed;
}

.second_ul {
  padding-top: 20px;
}

/************ RIGHT side ************/

.right_home {
  margin-left: 300px;
}
/************ ALBUMS ************/

.album_container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.album_container img {
  width: 99%;
}

.album_description {
  margin-bottom: 20px;
}

/* .horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
} */

/************ About ************/

#about .showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

/************ CV ************/

.cv_contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#cv *:not(a) {
  color: #353535;
}
#cv h2 {
  font-weight: bold;
  margin: 34px 0 6px 0;
}

#cv span {
  font-weight: bold;
}

.cv_text {
  line-height: 35px;
}

/************ Contact ************/
#contact .showcase {
  display: grid;
  grid-template-areas: "m c";
  grid-gap: 50px;
}
.map {
  grid-area: m;
}
.home_contact {
  grid-area: c;
}

.contact_text {
  margin-bottom: 20px;
}
.contact_info a {
  display: block;
}
.map {
  width: 100%;
  height: 605px;
  border: none;
}

/************************************ FOOTER ************************************/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  /* Footer height */
  text-align: center;
  padding-right: 40px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
}
#footer a:link,
#footer a:visited {
  color: var(--main-color);
}
#footer a:hover,
#footer a:active {
  color: green;
}
/************************************ Download button ************************************/
#dl_btn {
  margin-top: 50px;
  color: black;
  letter-spacing: 0.1rem;
  border: black solid 2px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
}
.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  -webkit-transition: color 0.1s linear 0.05s;
  transition: color 0.1s linear 0.05s;
}
.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  -webkit-transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}
.btn::after {
  -webkit-transition: border 0.1s linear 0.05s;
  transition: border 0.1s linear 0.05s;
}
.btn .btn-inner {
  position: relative;
  z-index: 2;
}
.btn:hover {
  color: #373737;
  -webkit-transition: color 0.1s linear 0s;
  transition: color 0.1s linear 0s;
}
.btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  -webkit-transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}
.btn:hover::after {
  border-color: #373737;
  -webkit-transition: border 0.1s linear 0s;
  transition: border 0.1s linear 0s;
}
